.subscribe{
   display: flex;
   flex-direction: column;
   justify-content: start;
   width: 100%;
   padding: 145px 50px 163px 165px;
}

.subscribe__title{
    padding-bottom: 34px;
    font-family: Raleway;
    font-size: 40px;
    line-height: 27px;
    font-weight: 700;
    color: #262626;
  }

.sybscribe__box-text{
    padding-bottom: 34px;
    max-width: 550px;
    font-family: Raleway;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #262626;
}

.subscribe__input{
    position: relative;   
}

.subscribe__input-email{ 
    padding: 15px o o 15px;
    width: 570px;
    height: 55px;
    background-color: rgba(38,38,38,0.0);
    border: 1px solid #262626;

   } 
.subscribe__button-email{
    margin-left: 20px;
    width: 170px;
    height: 55px;
    background-color: #96b92c;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    font-family: Raleway;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;
}
.subscribe__input-email::placeholder {
    opacity: 0.7;
    font-family: Raleway;
    font-size: 15px;
    line-height: 27px;
    font-weight: 300;
    color: #262626;
}

.subscribe__button-email:hover {
    opacity: 0.9;
}