.about-holder {
  z-index: 1;
  margin-top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 700px;
  background-color: #00c4c4;
}

.holder__box {
  width: 564px;
  height: 559px;
}

.about-holder {
  margin-top: 0px;
  -webkit-box-flex: start;
      -ms-flex: start;
          flex: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.holder__conteiner {
  padding: 0 40px 0 70px;
}

.holder__subject {
  font-family: Raleway;
  font-size: 90px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
}

.holder__text {
  padding-top: 25px;
  font-family: Raleway;
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
  color: #ffffff;
}